:root {
  --purple: #372147;
  --yellow: #e4bd59;
  --light-purple: #b985ee;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: var(--purple);
  font-family: "Inter", sans-serif;
}

#menu {
  display: flex;
  flex-direction: column;

  min-height: 100%;
  width: 15%;
  min-width: 100px;
  padding: 8px;
  text-align: center;
  color: var(--purple);
  background-color: var(--yellow);
}

ul {
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  justify-content: center;
}
#title {
  color: var(--yellow);
  padding: 8px;
  font-size: 32px;
  font-weight: 300;

  border-bottom: var(--yellow) solid 1px;
}

#text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100%;

  font-size: 16px;
  color: var(--light-purple);
}
